@import '../../../index.scss';

#about {
    width: 100%;
    height: auto;

    >.about-top {
        min-height: 220px;
        height: auto;
        display: flex;
        align-items: center;

        >.list-about {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 100%;
            width: 100%;

            >.list-item {
                width: 340px;
                height: 180px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                justify-content: space-around;


                >.title {
                    font-size: $fontTitle;

                    &::before {
                        content: '';
                        position: absolute;
                        height: 4px;
                        width: 18%;
                        bottom: -10px;
                        background: $brown;
                        border: 10px;
                    }

                }

                >p {
                    width: 90%;
                    font-size: $fontText;
                    letter-spacing: 1.4;
                    position: relative;
                    line-height: 1.4;
                }

                & .title-bold {
                    font-weight: $fontSemiBold;
                }
            }
        }
    }

    >.about-bottom {
        width: 100%;
        height: 86.9vh;
        position: relative;
        overflow: hidden;

        >.slider-about {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column-reverse;

            >li {
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;

                &:nth-child(1) {
                    background: no-repeat center/cover url('../../../assets/images/about/about-1.svg');
                }

                &:nth-child(2) {
                    background: no-repeat center/cover url('../../../assets/images/about/about-2.svg');
                }

                &:nth-child(3) {
                    background: no-repeat center/cover url('../../../assets/images/about/about-3.svg');
                }

                &:nth-child(4) {
                    background: no-repeat center/cover url('../../../assets/images/about/about-4.svg');
                }

                &:nth-child(5) {
                    background: no-repeat center/cover url('../../../assets/images/about/about-5.svg');
                }

                &:nth-child(6) {
                    background: no-repeat center/cover url('../../../assets/images/about/about-6.svg');
                }

                >.container {
                    height: 380px;
                    transform: translateY(80px);
                    color: $white;
                    flex-wrap: wrap;

                    >h2 {
                        font-size: $fontTitleHome;
                        height: 200px;
                        display: flex;
                        align-items: center;
                        transform: translateY(-400px);

                        &.active {
                            transform: translateY(0);
                            transition: transform 400ms ease-in-out;
                            transition-delay: 600ms;
                        }
                    }

                    >p {
                        font-size: $fontTitle;
                        line-height: 1.4;
                        transform: translateY(-600px);


                        &.active {
                            transform: translateY(0);
                            transition: transform 400ms ease-in-out;
                            transition-delay: 400ms;

                        }
                    }
                }
            }

            >.icon-item {
                z-index: 2;
                width: 100%;
                position: relative;
                height: 100%;
                bottom: 10px;
                display: flex;
                justify-content: center;

                >.container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    bottom: 60px;

                    >li {
                        width: 230px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
                        cursor: pointer;

                        >i {
                            opacity: 0.6;
                            transform: translateY(0);
                            transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

                            &.active {
                                transform: translateY(-20px) scale(1.1);
                                opacity: 1;
                                transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
                            }
                        }

                        >p {
                            font-size: $fontSubTitle;
                            opacity: 0;
                            visibility: hidden;
                            transform: translateY(20px);
                            transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

                            &.active {
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0);
                                transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
                            }
                        }

                        &:hover {
                            >i:not(i.active) {
                                transform: translateY(-20px) scale(1.1);
                                opacity: 1;
                                transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 901px) {
    #about {
        >.about-top {
            >.list-about {
                >.list-item {

                    >.title {
                        font-size: $fontTitle;
                    }

                    >p {
                        width: 90%;
                        font-size: $font;
                        letter-spacing: 1.4;
                        position: relative;
                        line-height: 1.4;
                    }
                }
            }
        }

        >.about-bottom {
            >.slider-about {
                >li{
                    >.container {
                            >h2 {
                                font-size: $fontHomeTablette;
                            }
                    
                            >p {
                                font-size: $fontSubTitle;
                            }
                        }
                }
                >.icon-item {
                    >.container {
                        bottom: 70px;

                        >li {
                            margin-bottom: 20px;
                            width: 200px;

                            >i {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    #about {
            >.about-top {
                padding-bottom: 30px;
                >.list-about {
                    justify-content: center;
                    gap: 15px;
                    >.list-item {
                        width: 290px;
                        >.title {
                            font-size: $fontTitle;
                        }
    
                        >p {
                            width: 100%;
                            font-size: $font;
                        }
                    }
                }
            }
    
            >.about-bottom {
                >.slider-about {
                    >.list-item{
                        >.container {
                                >h2 {
                                    font-size: $fontHomeTablette;
                                }
                        
                                >p {
                                    font-size: $fontSubTitle;
                                }
                            }
                    }
                    >.icon-item {
                        >.container {
                            bottom: 40px;
                            justify-content: center;
    
                            >li {
                                margin-bottom: 20px;
                                width: 190px;
    
                                >i {
                                    width: 50px;
                                    height: 50px;
                                    >img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }


                            }
                        }
                    }
                }
            }
        }
}

@media screen and (max-width: 550px) {
    #about {
            >.about-top {
                padding-bottom: 30px;
    
                >.list-about {
                    justify-content: center;
                    gap: 15px;
    
                    >.list-item {
                        width: 290px;
    
                        >.title {
                            font-size: $fontTitle;
                        }
    
                        >p {
                            width: 100%;
                            font-size: $font;
                        }
                    }
                }
            }
    
            >.about-bottom {
                >.slider-about {
                    >.list-item {
                        >.container {
                            >h2 {
                                font-size: $fontTitle;
                            }
    
                            >p {
                                font-size: $fontSubTitle;
                            }
                        }
                    }
    
                    >.icon-item {
                        
                        >.container {
                            bottom: 150px;
                            justify-content: center;
                            height: 150px;
                            >li {
                                width: 80px;
                                margin-bottom: 0;
                                gap: 0;
                                >i {
                                    width: 30px;
                                    height: 30px;
                                }

                                >p {
                                    font-size: $fontText;
                                    text-align: center;
                                }
    
    
                            }
                        }
                    }
                }
            }
        }
}